
<div class="body">
  <h2>Checkout Form</h2>
<br><br>
<div class="row">
  <div class="col-75">
    <div class="container">
      <form [formGroup]="checkOutDetails" (ngSubmit)="submitCheckOutDetails">

        <div class="row">
          <div class="col-50">
            <h3>Billing Address</h3>
            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Full Name" formControlName="fullname">
            <label for="email"><i class="fa fa-envelope"></i> Email</label>
            <input type="text" id="email" name="email" placeholder="name@example.com" formControlName="email">
            <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
            <input type="text" id="adr" name="address" placeholder="Address" formControlName="address">
            <label for="city"><i class="fa fa-institution"></i> City</label>
            <input type="text" id="city" name="city" placeholder="Lucknow" >

            <div class="row">
              <div class="col-50">
                <label for="state">State</label>
                <input type="text" id="state" name="state" placeholder="UP">
              </div>
              <div class="col-50">
                <label for="zip">Pin Code</label>
                <input type="text" id="zip" name="zip" placeholder="226002">
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>

<div *ngIf="orderdata.rent">
  Rent
</div>
<div *ngIf="orderdata.purchase">
  purchase
</div>

<div class="card">
  <div class="card-body">
    <form  (ngSubmit)="getIntent($event)" class="checkout">
      <div class="form-row">
          <label for="card-info">Card Info</label>
          <div id="card-info" #cardInfo></div>

          <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
      </div>

      <button nbButton type="submit">Pay ₹{{getPrice()}} /-</button>
  </form>
  </div>
</div>
