<div class="col-md-10 mx-auto" style="height: 45rem;">
  <div class="row">
    <div class="col-md-3">
      <nb-card>
        <nb-card-body>
          <nb-list>
            <nb-list-item *ngFor="let contact of userService.currentUser.contacts" (click)="selectUser(contact)">
              <p>{{ contact.fullname }}</p>
            </nb-list-item>
          </nb-list>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-md-9">

      <nb-card>
        <nb-card-header>
          <nb-user *ngIf="selContact"
            size="large"
            [name]="selContact.fullname"
            [picture]="url+selContact.avatar">
          </nb-user>
        </nb-card-header>
        <nb-card-body>
          <nb-chat style="height: 37rem;">
            <nb-chat-message *ngFor="let msg of messageList"
                             [message]="msg.text"
                             [reply]="msg.reply"
                             [sender]="msg.user.fullname"
                             [date]="msg.created"
                             [avatar]="url+msg.user.avatar">
            </nb-chat-message>
            <nb-chat-form (send)="sendMessage($event)">
            </nb-chat-form>
          </nb-chat>
        </nb-card-body>
      </nb-card>
    </div>
  </div>

</div>
