<div class="col-md-10 mx-auto" style="height: 45rem;">
    <nb-chat>
        <nb-chat-message *ngFor="let msg of messageList"
                         [message]="msg.text"
                         [reply]="msg.reply"
                         [sender]="msg.user.fullname"
                         [date]="msg.created"
                         [avatar]="url+msg.user.avatar">
        </nb-chat-message>
        <nb-chat-form (send)="sendMessage($event)">
        </nb-chat-form>
      </nb-chat>
</div>
