<div class="col-md-10 mx-auto">
  <nb-card class="mt-5">
    <nb-card-header id="cardheader">
      Users Posts And Requests
    </nb-card-header>

    <nb-card-body>

      <div class="row">
        <div class="col-md-4 mt-5" *ngFor="let request of requestList">

          <div class="card">



            <div class="card-body">

              <div >
              <nb-user size="medium" [name]="request.user.fullname" [picture]="url+request.user.avatar">
              </nb-user>
            </div>

              <h4 class="nt">{{request.title}}</h4>

              <p class="text-muted">{{request.content}}</p>

            </div>

            <nb-card-action style="padding: 1rem;">
              <button nbButton status="primary" (click)="repondToUser(request.user._id)"><nb-icon icon="heart"></nb-icon>Respond</button>
            </nb-card-action>
          </div>
        </div>
      </div>

    </nb-card-body>
  </nb-card>

</div>
