<div class="col-md-10 mx-auto">
  <nb-card class="mt-5">
    <nb-card-header id="cardheader">
      Users Posts And Requests
    </nb-card-header>

    <nb-card-body>

      <div class="row">
        <div class="col-md-3 mt-5" *ngFor="let request of requestList">

          <div class="card">

            <!-- <div class="avatar">
              <nb-user size="medium" [name]="request.user.fullname" title="Default" [picture]="url+request.user.avatar">
              </nb-user>
            </div> -->
            
            <div class="card-body">

              <h4 class="nt">{{request.title}}</h4>

              <p class="text-muted">{{request.content}}</p>

            </div>
          </div>
        </div>
      </div>

    </nb-card-body>
  </nb-card>

</div>
