body {
  font-family: Raleway;
  background: url("assets/img/pattern.jpg")
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.register {
  background: url("./assets/img/pattern.jpg") no-repeat center;
  background-attachment: fixed;
}

.register1 {
  background: url("./assets/img/signup.png") no-repeat center;
  background-attachment: fixed;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
