/* mat-expansion-panel {
  width: 80%;
  margin: auto;
}

}
mat-form-field,
textarea {
  width: 100%;
} */

.exp-header {
  color: #1bbd36;
  font-size: 23px;
  font-weight: bold;
}

mat-card-content {
  width: 80%;
  margin: auto;

}

.postreq {
  display: block;
  margin-top: 1rem;
}

button {
  background-color: #1bbd36;
  color: white;
}

.info-text {
  text-align: center;
  margin-top: 2rem;
}
