    <div class="uploadForm">
      <nb-card>
        <nb-card-body style="padding: 2rem;">
          <form [formGroup]="novelform" (ngSubmit)="submitNovelForm()">
            <h3 class="text-center">Upload Novel</h3>
            <div class="row mt-5">
              <div class="col-md-6">
                <mat-form-field class="mt-2 w-100" appearance="outline">
                  <mat-label>Novel Title</mat-label>
                  <input type="text" matInput formControlName="title">
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <mat-form-field class="mt-2 w-100" appearance="outline">
                  <mat-label>Description</mat-label>
                  <input type="text" matInput formControlName="desc">
                </mat-form-field>
              </div>


            </div>

            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="mt-2 w-100" appearance="outline">
                  <mat-label>Author Name</mat-label>
                  <input type="text" matInput formControlName="author">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="mt-2 w-100" appearance="outline">
                  <mat-label>Genre</mat-label>
                  <input type="text" matInput formControlName="genre">
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="mt-2 w-100" appearance="outline">
                  <mat-label>Price</mat-label>
                  <input type="number" matInput formControlName="price">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="mt-2 w-100" appearance="outline">
                  <mat-label>Rent Price</mat-label>
                  <input type="number" matInput formControlName="rentprice">
                </mat-form-field>
              </div>
              <hr>
              <div class="col-md-6 uploadBtn">
                <label class="mt-2">Upload Image</label><br>
                <input type="file" class="form-control" (change)="uploadNovel($event)">
              </div>
            </div>

            <img [src]="imgURL" *ngIf="imgURL" alt="" class="img-fluid mt-4">
            <hr>

            <div class="row">

              <div class="col-md-4 ">
                <mat-checkbox class="text-center" formControlName="rentable">Rent</mat-checkbox>
              </div>
              <div class="col-md-4 mx-auto">
                <mat-checkbox class="example-margin" formControlName="soldable">Sell</mat-checkbox>
              </div>
              <div class="col-md-4 mx-auto">
                <mat-checkbox class="example-margin" formControlName="exchangable">Exchange</mat-checkbox>
              </div>
            </div>

            <button class="w-100 mt-5" nbButton status="primary">Submit</button>

          </form>

        </nb-card-body>
      </nb-card>
    </div>
