<div class="col-md-11">
  <div class="row">
      <div class="col-md-6">

      </div>
      <div class="col-md-6">
          <nb-card style="margin-top:10%;border-radius: 0.5rem; box-shadow: 0px 3px 5px -1px rgba(0,0,0,0.2),0px 5px 8px 0px rgba(0,0,0,0.14),0px 1px 14px 0px rgba(0,0,0,0.12);">
              <nb-card-body style="padding: 2rem;">
                  <form [formGroup]="signupform" (ngSubmit)="submitSignupForm()">
                      <h3 class="text-center">Signup Here</h3>
                      <div class="row mt-4">
                          <div class="col-6">
                              <button class="w-100" nbButton status="danger"><nb-icon icon="google"></nb-icon>GOOGLE</button>
                          </div>
                          <div class="col-6">
                              <button class="w-100" nbButton status="primary"><nb-icon icon="facebook"></nb-icon>FACEBOOK</button>
                          </div>
                      </div>
                      <h5 class="text-center mt-3">OR</h5>
                      <div class="row mt-5">
                          <div class="col-md-6">
                              <mat-form-field class="mt-2 w-100" appearance="outline">
                                  <mat-label>Full Name</mat-label>
                                  <input type="text" matInput formControlName="fullname">
                              </mat-form-field>
                          </div>

                          <div class="col-md-6">
                              <mat-form-field class="mt-2 w-100" appearance="outline">
                                  <mat-label>Email</mat-label>
                                  <input type="email" matInput formControlName="email">
                              </mat-form-field>
                          </div>


                      </div>

                      <div class="row">
                          <div class="col-md-6">
                              <mat-form-field class="mt-2 w-100" appearance="outline">
                                  <mat-label>Password</mat-label>
                                  <input type="password" matInput formControlName="password">
                              </mat-form-field>
                          </div>
                          <div class="col-md-6">
                              <mat-form-field class="mt-2 w-100" appearance="outline">
                                  <mat-label>Confirm Password</mat-label>
                                  <input type="password" matInput formControlName="confirm">
                              </mat-form-field>
                          </div>
                      </div>

                      <div class="row">
                          <div class="col-md-6">
                              <mat-form-field class="mt-2 w-100" appearance="outline">
                                  <mat-label>Age</mat-label>
                                  <input type="number" matInput formControlName="age">
                              </mat-form-field>
                          </div>
                          <div class="col-md-6">
                              <label class="mt-2">Upload Image</label><br>
                              <input type="file" class="form-control" (change)="uploadAvatar($event)">
                          </div>
                      </div>
                      <img [src]="imgURL" *ngIf="imgURL" alt="" class="img-fluid mt-4">

                      <button class="w-100 mt-5" nbButton status="primary">Submit</button>

                  </form>
                  <div class="mt-3">

                      <a style="font-family: Roboto;text-decoration: none;" [routerLink]="['/app/signin']">Already Registered? Login Here</a>
                      <!-- <div class="float-end">
                          <a style="font-family: Roboto;text-decoration: none;" [routerLink]="['/app/reset']">Forgot Password?</a>
                      </div> -->
                  </div>
              </nb-card-body>
          </nb-card>
      </div>
  </div>
</div>
