<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">

    <h1 class="logo me-auto"><a href="index.html"><span>BOOK</span>WORMS</a></h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="logo me-auto me-lg-0"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a [routerLink]="['/home']" routerLinkActive="router-link-active">Home</a></li>

        <li class="dropdown"><a href="#"><span>List Novels</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a [routerLink]="['/app/exchangenovel']" routerLinkActive="router-link-active">Exchange Novels</a></li>
            <li><a [routerLink]="['/app/buynovel']" routerLinkActive="router-link-active">Purchase Novels</a></li>
            <li><a [routerLink]="['/app/rentnovel']" routerLinkActive="router-link-active">Rent Novels</a></li>
          </ul>
        </li>




        <li><a [routerLink]="['/app/listrequest']" routerLinkActive="router-link-active">Posts</a></li>
        <li><a [routerLink]="['/app/contactus']" routerLinkActive="router-link-active">Contact</a></li>
        <li class="dropdown"><a [routerLink]="['/app/aboutus']" routerLinkActive="router-link-active"><span>About</span>
            <i class="bi bi-chevron-down"></i></a>
        <li><a [routerLink]="['/user']" routerLinkActive="router-link-active">Profile</a></li>

      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    <div class="header-social-links d-flex">
      <a href="#" class="twitter"><i class="bu bi-twitter"></i></a>
      <a href="#" class="facebook"><i class="bu bi-facebook"></i></a>
      <a href="#" class="instagram"><i class="bu bi-instagram"></i></a>
      <a href="#" class="linkedin"><i class="bu bi-linkedin"></i></a>
    </div>

  </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero">
  <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">

    <div class="carousel-inner" role="listbox">

      <!-- Slide 1 -->
      <div class="carousel-item active" style="background-image: url(assets/img/slide/slide-1.jpg);">
        <div class="carousel-container">
          <div class="carousel-content animate__animated animate__fadeInUp">
            <h2>Welcome to BOOK<span style="color: #1bbd36;">WORMS</span></h2>
            <p>BookWorms is like a trade window of novels especially for Bibliophile.
              Some of the novels are now very rare and are neither being published nor available in shops or at any
              website.
              On this site People can post their novels collection on our website, so that people who need those novels,
              can get it from our website.
            </p>

            <!-- <div class="text-center"><a href="" class="btn-get-started">Read More</a></div> -->
          </div>
        </div>
      </div>
    </div>

    <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
    </a>

    <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
    </a>

    <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

  </div>
</section><!-- End Hero -->



<main id="main">



  <!-- ======= Services Section ======= -->
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-md-4 mt-5" *ngFor="let request of requestList">
          <div class="card">
            <div class="card-body">
              <div>
                <img class="avatar" [src]="url+request.user.avatar" alt="">
                <br><br><br>
                <B> {{request.user.fullname}}</B>
              </div>

              <h4 class="nt">{{request.title}}</h4>
              <p class="text-muted">{{request.content.substring(0, 100)}} ...</p>
            </div>
            <div class="d-grid gap-2 d-md-flex">
              <button type="button" class="btn btn-warning px-3" (click)="open(request)"><i
                  class="fas fa-regular fa-expand" aria-hidden="true"></i></button>
              <button type="button" class="btn btn-warning px-3" (click)="repondToUser(request.user._id)"><i
                  class="fas fa-paper-plane" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
      <br>
      <button class="btn btn-danger" [routerLink]="['/app/listrequest']" routerLinkActive="router-link-active">
        View More</button>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-3 mt-5" *ngFor="let novel of novelList">
          <div class="card">
              <div class="card-img" [routerLink]="['/app/noveldetails', novel._id]"
                routerLinkActive="router-link-active" [ngStyle]="{backgroundImage: 'url('+url+novel.avatar+')'}">
              </div>


              <div class="card-body" [routerLink]="['/app/noveldetails', novel._id]"
                routerLinkActive="router-link-active">
                <h4 class="nt">{{novel.title}}</h4>
                <p class="text-muted">{{novel.genre}}</p>
                <br>
                <div>
                  <img class="avatar1" [src]="url+novel.user.avatar" alt="">
                  <B> {{novel.user.fullname}}</B>
                </div>

                <!-- <div class="avatar">
                  <nb-user size="medium" [name]="novel.user.fullname" [picture]="url+novel.user.avatar">
                  </nb-user>
                </div> -->
                <p class="price">{{novel.price | currency:'INR'}}</p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>

</main><!-- End #main -->
